html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
iframe#ar-view-frame {
    height: 100%;
    width: 100%;
    opacity: 0;
    /* The view is hidden until the spash screen is completed */
}

div#iframeControls {
    position: fixed;
    right: 18px;
    top: 18px;
}
div#iframeControls button{
    background: transparent;
    border: none;
    color: #ffffff70;
}
